
<ion-header class="ion-padding" [translucent]="true" >
  <ion-toolbar>
    <ion-title style="text-align: center;">Detalle sensor</ion-title>
  </ion-toolbar>
</ion-header>


<div style="text-align: center;"> 

  <div > <div id='highcharts'  style="width:100%; height:400px; text-align: center;"  ></div> </div>

</div>

<!-- <div>
  <app-sensor-detalle></app-sensor-detalle>
</div> -->

<div style="text-align: center;"> 

  <div > <app-sensor-detalle [dispositivoId]=sensor> </app-sensor-detalle> </div>

</div>
 



<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">Smart Home</ion-title>
  </ion-toolbar>
</ion-footer>



<!-- <app-listado-dispositivo>   </app-listado-dispositivo> -->


<!-- <div style="text-align: center;"> 

  <div *ngIf="DetalleState;" > <ion-button (click)="CerrarDetalle()" > Cerrar detalle Sensor {{dispositivoActualId}}</ion-button></div>

  <div *ngIf="DetalleState;"> <app-sensor-detalle [dispositivoId]= dispositivoActualId > </app-sensor-detalle> </div>

</div> -->


 


  