<!-- <p>
  listado-dispositivo works!
</p> -->


<!-- <div *ngFor="let dispositivo of listado; let i = index">

  <ul style="background-color:blue;" >
    <p>Dispositivo: {{ dispositivo.nombre }} Index: {{ i }}</p>
    <p>Ubicación: {{ dispositivo.ubicacion }}</p>
  </ul>
  
</div> -->


<div *ngFor="let dispositivo of listado;">

  <!-- <ul style="background-color:blue;" >
    <p>Dispositivo: {{ dispositivo.nombre }} </p>
    <p>Ubicación: {{ dispositivo.ubicacion }}</p>
  </ul> -->

  <ion-list appColorear>
    <ion-item >
      <ion-label > Dispositivo: {{ dispositivo.nombre }}  </ion-label>
      <ion-label> Ubicación:  {{ dispositivo.ubicacion }}</ion-label>
      <button (click)="VerDetalle()">Boton {{ dispositivo.dispositivoId }}</button>
      
    </ion-item>
  </ion-list>
  
</div>

<div *ngIf="DetalleState;"> <button (click)="CerrarDetalle()"> Cerrar detalle</button></div>



<div *ngIf="DetalleState;"> <app-sensor-detalle> </app-sensor-detalle> </div>



