
<div *ngFor="let dispositivo of listadoDispositivo;">

  <ion-list appColorear>
    <ion-item >
      <ion-label > Dispositivo: {{ dispositivo.nombre }}  </ion-label>
      <ion-label> Ubicación:  {{ dispositivo.ubicacion }}</ion-label>
    
      <ion-button (click)="VerDetalle()"> Detalle {{ dispositivo.nombre }} </ion-button>
    </ion-item>
  </ion-list>
  
</div>

<div style="text-align: center;"> 

  <div *ngIf="DetalleState;" > <ion-button (click)="CerrarDetalle()" > Cerrar detalle Sensor </ion-button></div>

  <div *ngIf="DetalleState;"> <app-sensor-detalle> </app-sensor-detalle> </div>

</div>




